* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: gray;
}
.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 90px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
