/* .content {
  grid-area: c;
  background-color: gray;
  margin: 0px 10px 10px 0px;
} */
.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: white;
}

.messages {
  padding: 10px;
}

.message {

}
